name: Build Image

on:
  push:
  schedule:
    - cron: '1 0 * * *'
  workflow_dispatch:

jobs:
  buildah:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build image
        run: ./make_image.sh